menu "SOOM Smart Light Configuration"

    menu "Wi-Fi Settings"
        config WIFI_SSID
            string "Wi-Fi SSID"
            default "MyWiFi"
        config WIFI_PASS
            string "Wi-Fi Password"
            default "MyPassword"
    endmenu

    menu "MQTT Settings"
        config MQTT_BROKER_URI
            string "MQTT Broker URI"
            default "mqtt://192.168.0.10:1883"
        config MQTT_TOPIC_CMD
            string "MQTT Command Topic"
            default "sensor/smart_light/cmd"
        config MQTT_TOPIC_STATE
            string "MQTT State Topic"
            default "sensor/smart_light"
    endmenu

    menu "LED Strip Settings"
        config LED_STRIP_GPIO
            int "LED Strip GPIO"
            default 4
        config LED_STRIP_LED_COUNT
            int "Number of LEDs"
            default 40
        config STATE_PUB_PERIOD_MS
            int "State publish interval (ms)"
            default 5000
    endmenu

endmenu
