# ============================================================
# Global ignores (공통)
# ============================================================
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
*.log
*.orig
*~
.vscode/
.idea/
__pycache__/
*.pyc
.clangd

# ============================================================
# ESP-IDF build artifacts
# ============================================================
build/
**/build/
managed_components/
dependencies.lock
sdkconfig
sdkconfig.old
sdkconfig.ci

# ---- Add Kconfig files ----
Kconfig.projbuild